<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inodex.inoprod"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="21" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="false"
        android:smallScreens="false" />

    <uses-feature
        android:name="android.hardware.camera.barcode"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_inoprod"
        android:label="@string/inoprod"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        <activity
            android:name=".activities.Inoprod"
            android:configChanges="orientation"
            android:label="@string/inoprod"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MenuAide"
            android:configChanges="orientation"
            android:label="@string/title_activity_menu_aide"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.Aide"
            android:configChanges="orientation"
            android:label="@string/title_activity_aide"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.Annuaire"
            android:configChanges="orientation"
            android:label="@string/title_activity_annuaire"
            android:screenOrientation="landscape" >
            <intent-filter>
                <data android:mimeType="vnd.android.cursor.item/vnd.com.v1.inoprod.business.employe" />
            </intent-filter>
        </activity>

        <provider
            android:name=".business.AnnuaireProvider"
            android:authorities="com.inodex.inoprod.business.annuairepersonel" />
        <provider
            android:name=".business.NomenclatureProvider"
            android:authorities="com.inodex.inoprod.business.nomenclature" />
        <provider
            android:name=".business.ProductionProvider"
            android:authorities="com.inodex.inoprod.business.production" />
        <provider
            android:name=".business.DureesProvider"
            android:authorities="com.inodex.inoprod.business.durees" />
        <provider
            android:name=".business.OutillageProvider"
            android:authorities="com.inodex.inoprod.business.outillage" />
        <provider
            android:name=".business.SupportProvider"
            android:authorities="com.inodex.inoprod.business.support" />
        <provider
            android:name=".business.ChariotProvider"
            android:authorities="com.inodex.inoprod.business.chariots" />
        <provider
            android:name=".business.SequencementProvider"
            android:authorities="com.inodex.inoprod.business.sequencement" />
        <provider
            android:name=".business.RaccordementProvider"
            android:authorities="com.inodex.inoprod.business.raccordement" />
        <provider
            android:name=".business.KittingProvider"
            android:authorities="com.inodex.inoprod.business.kitting" />
        <provider
            android:name=".business.BOMProvider"
            android:authorities="com.inodex.inoprod.business.bom" />
        <provider
            android:name=".business.CheminementProvider"
            android:authorities="com.inodex.inoprod.business.cheminement" />

        <activity
            android:name=".activities.LoginProfil"
            android:configChanges="orientation"
            android:label="@string/title_activity_login_profil"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.magasiniers.MainMenuMagasinier"
            android:configChanges="orientation"
            android:label="@string/title_activity_main_menu_magasinier"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.magasiniers.ImportCoupeCables"
            android:configChanges="orientation"
            android:label="@string/title_activity_import_coupe_cables"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.magasiniers.DebitCables"
            android:configChanges="orientation"
            android:label="@string/title_activity_debit_cables"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.magasiniers.RegroupementCables"
            android:configChanges="orientation"
            android:label="@string/title_activity_regroupement_cables"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.magasiniers.SaisieTracabiliteComposant"
            android:configChanges="orientation"
            android:label="@string/title_activity_saisie_tracabilite_composant"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.magasiniers.ServitudeComposants"
            android:configChanges="orientation"
            android:label="@string/title_activity_servitude_composants"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.magasiniers.KittingCablesComposants"
            android:configChanges="orientation"
            android:label="@string/title_activity_kitting_cables_composants"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.cableur.MainMenuCableur"
            android:configChanges="orientation"
            android:label="@string/title_activity_main_menu_cableur"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.cableur.RepriseBlindageTa"
            android:configChanges="orientation"
            android:label="@string/title_activity_reprise_blindage_ta"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.cableur.DenudageSertissageContactTa"
            android:configChanges="orientation"
            android:label="@string/title_activity_denudage_sertissage_contact_ta"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.controleur.MainMenuControleur"
            android:configChanges="orientation"
            android:label="@string/title_activity_main_menu_controleur"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.preparateur.MainMenuPreparateur"
            android:configChanges="orientation"
            android:label="@string/title_activity_main_menu_preparateur"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.InfoProduit"
            android:configChanges="orientation"
            android:label="@string/title_activity_info_produit"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.cableur.FinalisationTa"
            android:configChanges="orientation"
            android:label="@string/title_activity_finalisation_ta"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.cableur.TriAboutissantsTa"
            android:configChanges="orientation"
            android:label="@string/title_activity_tri_aboutissants_ta"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.cableur.PreparationTa"
            android:configChanges="orientation"
            android:label="@string/title_activity_preparation_ta"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.cableur.DenudageSertissageEnfichageTa"
            android:configChanges="orientation"
            android:label="@string/title_activity_denudage_sertissage_enfichage_ta"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.cableur.EnfichagesTa"
            android:configChanges="orientation"
            android:label="@string/title_activity_enfichages_ta"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.cableur.CheminementTa"
            android:configChanges="orientation"
            android:label="@string/title_activity_cheminement_ta"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.cableur.PositionnementTaTab"
            android:configChanges="orientation"
            android:label="@string/title_activity_positionnement_ta_tab"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.cableur.CheminementFilAFil"
            android:configChanges="orientation"
            android:label="@string/title_activity_cheminement_fil_afil"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.cableur.Frettage"
            android:configChanges="orientation"
            android:label="@string/title_activity_frettage"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.cableur.DenudageSertissageManchonsCossesTb"
            android:configChanges="orientation"
            android:label="@string/title_activity_denudage_sertissage_manchons_cosses_tb"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.controleur.ControleFinalisationTa"
            android:configChanges="orientation"
            android:label="@string/title_activity_controle_finalisation_ta"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.controleur.ControleSertissageTa"
            android:configChanges="orientation"
            android:label="@string/title_activity_controle_sertissage_ta"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.controleur.ControleRetentionTa"
            android:configChanges="orientation"
            android:label="@string/title_activity_controle_retention_ta"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.controleur.ControleFinalHarnais"
            android:configChanges="orientation"
            android:label="@string/title_activity_controle_final_harnais"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.inodex.inoprod.activities.cableur.MiseLongueurTb"
            android:configChanges="orientation"
            android:label="@string/title_activity_mise_longueur_tb"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>